/* ROOT VARIABLES */
:root {
  /* established color variables to be used throughout the portfolio */
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;
  --color-black: #141415;
  --color-primary: #f24e1e;
  --color-primary-light: hsl(14, 89%, 53%, 12%);
  --color-success: #29f5a6;
  --color-warning: #ffce31;
  --transition: all 400ms ease;
}
/* set everything to a starting point of 0 */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* established font size and smooth scrolling behavior */
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
  line-height: 1.2;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.86rem;
}
h1 {
  font-size: 3.8rem;
}
p {
  line-height: 1.8;
}
/* this will center the container horizontally inside its parent */
.container {
  width: 80%;
  margin: 0 auto;
}
section {
  /* padding 10 for the top, 0 for the L/R, 7 for the bottom */
  padding: 10rem 0 7rem;
  /* gives max viewport width */
  max-width: 100vw;
  /* will not allow overflow on the x -axis */
  overflow-x: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}
/* every image will have the width set to 100% of its parent */
img {
  width: 100%;
}
/* button padding at 1.4rem for top/bottom, 3.4 rem for L/R */
.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  color: var(--color-black);
  background: var(--color-white);
  display: inline-block;
  margin: 2rem 0;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

/* navbar */
nav {
  width: 100%;
  height: 5rem;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-light);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav button {
  display: none;
}

nav h3 {
  color: var(--color-primary);
}

nav .container ul {
  display: flex;
  height: 100%;
}

/* top nav bar styles */
nav .container ul li a {
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  position: relative;
  transition: var(--transition);
}

nav .container ul li a:hover {
  color: var(--color-primary);
}

nav .container ul li a.active {
  background: var(--color-primary);
  color: var(--color-white);
}
/* ================== LANDING SECTION ================== */

section.landing {
  display: grid;
  place-items: center;
  position: relative;
  top: 5rem;
  padding-bottom: 14rem;
}

section.landing .container {
  display: grid;
  grid-template-columns: 5rem auto 26rem;
  gap: 2rem;
}

section.landing .socials {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}

section.landing .socials a {
  font-size: 1.1rem;
  background: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

section.landing .socials a:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

section.landing .info h1 {
  text-align: left;
  margin: 0;
}

section.landing h3 {
  margin: 2.4rem 0 1rem;
}

section.landing .info p {
  width: 35rem;
}

section.landing .profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* the outer circle where the icons attach and animation there */
section.landing .profile-area .outer-circle {
  width: 26rem;
  height: 26rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  animation: move 30s linear infinite
}

/* part of the animation */
@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

/* styles the outer span where the icons are */
section.landing .profile-area .outer-circle span {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: var(--color-white);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem var(--color-primary-light);
}

/* positions the static icons around the picture */
section.landing .profile-area .outer-circle span:nth-child(1) {
  left: calc(50% - 2rem);
  top: -2rem;
}
 
section.landing .profile-area .outer-circle span:nth-child(2) {
  right: -2rem;
  top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(3) {
  left: -2rem;
  top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(4) {
  left: calc(50% - 2rem);
  bottom: -2rem;
}

/* does the picture in the animation  */
section.landing .profile-area .inner-circle {
  position:absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
} 
